<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nour.makssab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:name=".MainApp.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity android:name=".Activity.Splash"></activity>
        <activity android:name=".Activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.NewAccount"
            android:label="@string/title_activity_new_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Search"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Members"
            android:label="@string/title_activity_members"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MemberFavorites"
            android:label="@string/title_activity_member_favorites"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".Activity.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nour.makssab.Activity.Home" />
        </activity>
        <activity
            android:name=".Activity.Notifications"
            android:label="@string/title_activity_notifications"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Exhibitions"
            android:label="@string/title_activity_exhibitions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ExhibitionsDetails"
            android:label="@string/title_activity_exhibitions_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Advertisement"
            android:label="@string/title_activity_advertisement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Stores"
            android:label="@string/title_activity_stores"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Buildings"
            android:label="@string/title_activity_buildings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivationCode"
            android:label="@string/title_activity_activation_code"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AdvDetails"
            android:label="@string/title_activity_adv_details"
            android:parentActivityName=".Activity.Advertisement"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nour.makssab.Activity.Advertisement" />
        </activity>
        <activity
            android:name=".Activity.StoresDetails"
            android:label="@string/title_activity_stores_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.StoresAds"
            android:label="@string/title_activity_stores_ads"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CategoryDetails"
            android:label="@string/title_activity_advertisement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MyAdvertisement"
            android:label="@string/title_activity_advertisement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PhotoZoom"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Add_Advertisement"
            android:label="@string/title_activity_add__advertisement"
            android:parentActivityName=".Activity.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nour.makssab.Activity.Home" />
        </activity>
        <activity
            android:name=".Activity.MyMessages"
            android:label="@string/title_activity_messages"
            android:parentActivityName=".Activity.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nour.makssab.Activity.Home" />
        </activity>
        <activity
            android:name=".Activity.ConversationMessage"
            android:label="@string/title_activity_conversation_message"
            android:parentActivityName=".Activity.MyMessages"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nour.makssab.Activity.MyMessages" />
        </activity>
    </application>

</manifest>