<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ibtdi.team.mkssab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:name="com.ibtdi.team.mkssab.MainApp.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.NewAccount"
            android:label="@string/title_activity_new_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.Search"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.Members"
            android:label="@string/title_activity_members"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.MemberFavorites"
            android:label="@string/title_activity_member_favorites"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName="com.ibtdi.team.mkssab.Activity.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibtdi.team.mkssab.Activity.Home" />
        </activity>
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.Notifications"
            android:label="@string/title_activity_notifications"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.Exhibitions"
            android:label="@string/title_activity_exhibitions"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.ExhibitionsDetails"
            android:label="@string/title_activity_exhibitions_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.Advertisement"
            android:label="@string/title_activity_advertisement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.Stores"
            android:label="@string/title_activity_stores"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.Buildings"
            android:label="@string/title_activity_buildings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.ActivationCode"
            android:label="@string/title_activity_activation_code"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.AdvDetails"
            android:label="@string/title_activity_adv_details"
            android:parentActivityName="com.ibtdi.team.mkssab.Activity.Advertisement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibtdi.team.mkssab.Activity.Advertisement" />
        </activity>
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.StoresDetails"
            android:label="@string/title_activity_stores_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.StoresAds"
            android:label="@string/title_activity_stores_ads"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.CategoryDetails"
            android:label="@string/title_activity_advertisement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.MyAdvertisement"
            android:label="@string/title_activity_advertisement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.PhotoZoom"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.Add_Advertisement"
            android:label="@string/title_activity_add__advertisement"
            android:parentActivityName="com.ibtdi.team.mkssab.Activity.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibtdi.team.mkssab.Activity.Home" />
        </activity>
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.MyMessages"
            android:label="@string/title_activity_messages"
            android:parentActivityName="com.ibtdi.team.mkssab.Activity.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibtdi.team.mkssab.Activity.Home" />
        </activity>
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.ConversationMessage"
            android:label="@string/title_activity_conversation_message"
            android:parentActivityName="com.ibtdi.team.mkssab.Activity.MyMessages"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibtdi.team.mkssab.Activity.MyMessages" />
        </activity>
        <activity
            android:name="com.ibtdi.team.mkssab.Activity.MembersDetails"
            android:label="@string/title_activity_members_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>